<div class="py2 post-footer">
  <img src="https://cdn.camdan.me/logos/c/square.png" alt="Logo" class="avatar" />
  <p>
    Hi! I'm Cam. I do all sorts of stuff, including sometimes writing about my experiences here. You can learn more about me at <a href="https://camdan.me">camdan.me</a>.
  </p>
  <p>
    Check out more stuff on <a href="https://camdan.me/socials/instagram" target="_blank">Instagram</a>, <a href="https://camdan.me/socials/linkedin" target="_blank">LinkedIn</a>, <a href="https://camdan.me/socials/github" target="_blank">GitHub</a>, and <a href="https://camdan.me/socials/youtube" target="_blank">YouTube</a>.
  </p>
</div>
